@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: hsl(218, 100%, 97%);
}
#root {
  width: 100dvw;
  height: 100dvh;
}

